.search{
    width: 50%;
}

.s-icon {
    margin-top: 0.5rem;
    margin-right: 21rem;
}

@media (max-width: 1280px) {
    .search-div {
        width: 25%;
    }
    .search {
        width: 20rem;
    }
    .s-icon {
        margin-right: 50rem;
    }
    /* .nav-item {
        display: none;
    } */
    .login {
        margin-right: 42rem;
    }
}

@media (max-width: 1024px) {
    .search-div {
        width: 20%;
    }
    .login {
        margin-right: 33rem;
    }
}

@media (max-width: 500px) {
        body{
        overflow-x: hidden;
    }
    
    .search-div {
        width: 5%;
        margin-top: 1.2rem;
        margin-bottom: 1rem;
        margin-right: 15rem;
    }


    .search {
        width: auto;
      
    }
    
    .nav{
        position: absolute;
        display: grid;
        place-content: center;
        margin-left: -5rem;
        
       
    }              
         
    .nav-item{
        display: grid;
        margin-left: 1rem;
        

    }


    .login{
        width: 12rem;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: -70px;
        
    }

    .X{
        margin-left: 1rem;
        position: absolute;
    }
  

    .h-icon {
        margin-left: -4.5rem;
    }
    .block{
        width: 20%;
    }
}
