@media (max-width: 1280px) {
    .child{
       display: grid;
       grid-template-columns: 1fr;
       width: 40%;
    }
    #google-map-iframe{
       width: 56%;
       margin-left: -23rem;
    }
 }
 
 @media (max-width: 1024px) {
   .child{
      display: grid;
      grid-template-columns: 1fr;
      width: 42%;
   }
   #google-map-iframe{
      width: 56%;
      margin-left: -17.5rem;
   }
    }
    
 @media (max-width: 500px) {
     .details{
      padding: 6px;
     }
     .title{
      height: 10rem;
     }
     .child{
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 110%;
     }
     #google-map-iframe{
     display: none;
   }
     }
