@media (max-width: 1280px) {
    .child{
       display: grid;
       width: 100%;
       place-content: center;
       grid-template-columns: auto auto auto; 
       margin: auto;
    }
    #google-map-iframe{
       width: 97%;
       margin-left: -23rem;
       margin: auto;
       
    }
 
 }
 
 @media (max-width: 1024px) {
   .child{
      display: grid;
      grid-template-columns: 1fr;
      width: 42%;
   }
   #google-map-iframe{
      width: 56%;
      margin-left: -17.5rem;
   }
    }
    
 @media (max-width: 500px) {
     .details{
      padding: 6px;
     }
     .title{
      height: 10rem;
     }
     .child{
      display: grid;
      width: 23rem;
      grid-template-columns: 1fr 1fr;
      place-content: center;
      margin: auto;
     } 
     #google-map-iframe{
     display:block;
     width: 23rem;
     height: 3rem;
     position: absolute;
     margin: auto;
     
   }
   .map{
      display: grid;
      position: absolute;
      margin-top: 95rem;
      
 

   }
     }
