.parent{
    border-top: 1px solid #CBD5E0;
 }
 
 .relevant{
     display: none;
 }
 
 @media (max-width: 1280px) {
   .relevant{
      display: block;
   }
   .btn1{
      margin-right: 43rem;
      gap: 4px;
   }
    .btn2{
      order: -1;
    }
   }
 
 @media (max-width: 1024px) {
   .relevant{
      display: block;
   }
   .btn1{
      margin-right: 32rem;
   }
   .date{
      display: none;
   }
    .btn2{
      order: -1;
      margin-left: -0.6rem;
    }
 }
 
 @media (max-width: 800px) {
    .btn1{
       margin-right: 1.5rem;
    }
   }
   
 @media (max-width: 500px) {
    .parent{
       margin-top: -0.5rem;
       border-top: 1px solid #CBD5E0;
    }
    .btn1{
      padding: 1rem;
      margin-right: 40rem;
    }
    .btn2{
       margin-top: 1rem;
    }
    .most{
       display: none;
 
     }
     .relevant{
       width: 10rem;
       height: 2.1rem;
       padding: 0;
     }
 
   }
